$grid-width:114rem;

$gutter-horizontal:3rem;

$gutter-vertical: 8rem;

$color-white: #fff;

$color-black: #000;

$color-primary-ligth:#ffb900;
$color-primary-dark:#ff7730;

$color-secondary-ligth: #2998ff;
$color-secondary-dark: #5643fa;

$color-tertiary-ligth: #7ed56f;
$color-tertiary-dark: #268d6b;

$color-gray-ligth-1:rgb(173, 167, 167);